.container-fluid {
  background-color: yellow;
  padding: 20px;
}

.header {
  background-color: blue;
  padding: 20px;
  height: 600px;
  border: 2px solid black;
}

.nav{
  background-color: green;
  padding: 5px;
  height: 75px;
  border: 2px solid black;
}

.logo {
  background-color: purple;
  padding: 5px;
  height: 75px;
  border: 2px solid black;
}

.content {
  background-color: red;
  padding: 20px;
  height: 400px;
  border: 2px solid black;
}

.photo {
  background-color: aqua;
  padding: 20px;
  height: 400px;
  border: 2px solid black;
}

.promo {
  background-color: orange;
  padding: 20px;
  height: 250px;
  border: 2px solid black;
}

.footer {
  background-color: black;
  padding: 20px;
  height: 200px;
  border: 2px solid black;
  color: white;
}
